.col1{
    background-color: blue;
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-left: 40px;
    color: rgb(235, 226, 111);
    margin: 0px;
    padding: 0px;
}
.nav{
    width: 50%;
    height: 200px;
    float: right;
    text-align: end;
    margin-right: 30px;
}
a{
    color:rgb(226, 221, 173);
}
#Menu{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(106, 106, 218);
    color:darkgoldenrod;
}
.col2{
    width: 50%;
    height: 200px;
    background-color: blue;
    color:chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: 300px;
    margin-right: 70px;
    
}
.col3{
    background-color: white;
    width: 60%;
    height: 300px;
    color: cadetblue;
    display: inline-block;
    font-size: larger;
    margin: 30px;
    
}
.col4{
    background-color: rgb(177, 203, 226);
    width: 30%;
    height: 300px;
    color: rgb(32, 147, 151);
    float: right;
    margin:30px;
}
#no1{
    background-color: blue;
    font-size: larger;
}
h2{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
.col5{
    color: blue;
    font-size: larger;
    width: 100%;
    height: 300px;
    margin-left: 40px;
   margin-right: 40px;
    background-color:azure;
    display: inline-block;
    
}
.col6{
    float: left;
    width: 30%;
    height: 200px;
    
    padding: 10px;
    
}
.col7{
    float: left;
    width: 30%;
    height: 200px;
   
    padding: 10px;
    
}
.col8{
    float: left;
    width: 30%;
    height: 200px;
    
    padding: 10px;
    

}
h3{
    color: darkblue;
}
p{
    color: darkblue;
}
.col9{
    float: left;
    width: 30%;
    height: 200px;
   margin-top: 10px;
  
}
.col10{
    float: left;
    width: 30%;
    height: 200px;
    margin-top: 10px;
    
}
.col11{
    float: left;
    width: 30%;
    height: 200px;
    margin-top: 10px;
  

}
p{
    color: rgb(187, 218, 16);
    font-size: larger;
}
section{
    background-color: rgb(135, 135, 202);
}.row8{
    background-color: blue;
}
.container2{
    background-color: blue;
    height: 560px;
    width: 100%;
    margin: 0px;
}
.container3{
    background-color: blueviolet;
    height: 500px;
    width: 100%;
    margin: 0px;
}